.element__delete-button {
    background-image: url("../../../images/delete-button.svg");
    background-color: transparent;
    background-size: cover;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    visibility: hidden;
}

.element__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}